@model _01_Introducao.Models.Usuario

@{
    ViewBag.Title = "Usuario - efetue seu cadastro";
}

    <h2>Usuario</h2>

    <br />

    <h3>Cadastro de usuarios:</h3>
    @using (Html.BeginForm("Cadastrar", "Usuario")) {

        @Html.ValidationSummary(true)
        <fieldset>
            <legend> Formulario de Cadastro de usuario</legend>

        <div class="editor-label">
            @Html.LabelFor(u => u.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(u => u.Nome)
            @Html.ValidationMessageFor(u => u.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(u => u.Observacoes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(u => u.Observacoes)
            @Html.ValidationMessageFor(u => u.Observacoes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(u => u.Idade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(u => u.Idade)
            @Html.ValidationMessageFor(u => u.Idade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(u => u.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(u => u.Email)
            @Html.ValidationMessageFor(u => u.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(u => u.Login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(u => u.Login)
            @Html.ValidationMessageFor(u => u.Login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(u => u.Senha)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(u => u.Senha)
            @Html.ValidationMessageFor(u => u.Senha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(u => u.ConfirmarSenha)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(u => u.ConfirmarSenha)
            @Html.ValidationMessageFor(u => u.ConfirmarSenha)
        </div>

        <input type="submit" value="Cadastrar Usuario" />

    </fieldset>

    @section Scripts{
        @Scripts.Render("~/budles/jqueryval"));
    }

}